body{
    display: flex;
    background: linear-gradient(to left,rgb(159, 159, 250),rgb(140, 203, 245));
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#home{
    color: rgb(255, 255, 255);
    background: rgba(6, 150, 107, 0.236);
    width: 100%;
    border-radius: 30px;
    font-size: 25px;
}
menu{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    background-color: rgba(210, 90, 5, 0.552);
    border-radius: 10px;
    border-top-color: black;
    font-family: cursive;
}
#v1{
    height: 100%;
    width: 50%;
    background-color: burlywood;
}
/*4:00 PM,10:00 AM*/
pre{
    text-align: center;
    font-family: cursive;
    font-weight: bold;
}
#v2{
    height: 100%;
    width: 50%;
    background-color: rgba(66, 49, 192, 0.756);
}
#v3{
    height: 100%;
    width: 50%;
    background-color: rgba(151, 173, 26, 0.756);
}
#v4{
    height: 100%;
    width: 50%;
    background-color: rgba(201, 17, 17, 0.618);
}
p{
    background: #df87879e;
    height: 200%;
    width: 50%;
    font-size: large;
    margin-top: 100px;
    font-weight: bold;
}
img{
    width:1500px;
}